.container {
  width: min(100% - 2rem, 85.5rem);
  margin-inline: auto;
}

/**
 * Each dom element is given a background and outline to resolve overflow errors.
 */
.debugging {
  * {
    outline: 1px solid transparent !important;
    border-radius: 0;
    background-color: rgba(0, 100, 0, 0.1) !important;

    &:hover {
      outline-color: rgb(0, 0, 0) !important;
      background-color: rgba(0, 100, 0, 0.15) !important;
    }
  }
}
