.button {
  @include padding(0.5rem 1rem);
  @include margin(0.5rem);
  @include font-size(1.2rem);
  @extend %button;

  display: inline-flex;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  border: 1px solid transparent;
  color: $white;
  background-color: $primary-color;

  &:hover {
    background-color: $primary-color--600;
  }
}
