.slider-card {
  position: relative;

  width: 10rem;
  min-width: 10rem;
  height: fit-content;

  transition: all 200ms ease-out;

  will-change: transform;

  &.--last-winner {
    z-index: 1;
  }

  &.--winner {
    transform: scale(1.2);
  }
}
