/// Sets the default animation settings for the element
///
/// @param {boolen} $backface [true] - Sets the backface-visibility property
/// @param {number} $perspective [1000] - Sets the element's perspective property
///
@mixin animation($backface: true, $perspective: 1000) {
  @if $backface {
    backface-visibility: hidden;
  }
  perspective: $perspective;
}

/// Shortcut to set element's width and height style
///
/// @param {number} $width - The width of the element
/// @param {number} $height [$width] - The height of the element
///
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
