.slider {
  /*   overflow-x: hidden;
  overflow-y: visible; */

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  width: 100%;
  height: 100%;

  max-width: 100vw;

  margin-top: auto;

  &__filter {
    $background: #f7e4df;

    z-index: 1;
    pointer-events: none;

    position: absolute;
    inset: 0;

    display: none;

    width: 100%;
    height: 14.2rem;

    background: linear-gradient(
      270deg,
      rgba($white, 0) 0%,
      rgba($white, 0) 70%,
      rgba($background, 1) 90%,
      rgba($background, 1) 100%
    );
  }

  &__container {
    &.--skew {
      animation: skew 4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  &__wrapper {
    $card-width: 10rem;
    $half-of-card: $card-width / 2;
    $start-position: calc(50vw - $half-of-card);

    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: fit-content;

    position: relative;

    transform: translateX($start-position);

    &.--sliding {
      transition: transform 4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      animation: blur 4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }
  30% {
    filter: blur(0px);
  }
  50% {
    filter: blur(2px);
  }
  70% {
    filter: blur(0px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes skew {
  0% {
    transform: skew(0) scale(1);
  }
  30% {
    transform: skew(0) scale(0.95);
  }
  50% {
    transform: skew(-7deg) scale(0.9);
  }
  100% {
    transform: skew(0) scale(1);
  }
}
